.cocktail-finder-container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.age-verification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.age-verification-box {
  background: var(--background-color);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
}

.age-verification-title {
  margin-bottom: 1rem;
}

.verification-buttons {
  margin-top: 1.5rem;
}

.confirm-button,
.deny-button {
  padding: 0.8rem 1.2rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.confirm-button {
  border: 3px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
}

.confirm-button:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.confirm-button:active {
  background-color: var(--main-color);
  color: var(--background-color);
}

.deny-button {
  border: 3px solid var(--third-color);
  box-shadow: 3px 3px var(--third-color);
  background-color: transparent;
  color: var(--third-color);
  font-weight: bold;
}

.deny-button:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.deny-button:active {
  background-color: var(--third-color);
  color: var(--background-color);
}

header {
  text-align: center;
  padding: 1.5rem 0;
}

.main-title {
  text-align: center;
}

.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  flex-grow: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-message {
  text-align: center;
  padding: 1rem;
}

.footer-link {
  color: var(--third-color);
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .question-container {
    flex-grow: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .cocktail-finder-container {
    max-width: 80%;
    margin: 0 auto;
  }

  .age-verification-title {
    font-size: 1.8rem;
  }

  .age-verification-text {
    font-size: 1.2rem;
  }

  .confirm-button,
  .deny-button {
    font-size: 1.2rem;
  }
}
