.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.subcontainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 30px;
}

a {
  color: #82846D;
}

a:visited {
  color: #82846D;
}

@media screen and (min-width: 800px) {
  h1{
    font-size: 100px;
  }
}